[Unit]
Description="Piaware Status LED Daemon"
After=multi-user.target

[Service]
Type=idle
Restart=always
WorkingDirectory=/usr/bin/piawarestatusled
ExecStart=/usr/bin/piawarestatusled/venv/bin/python3 /usr/bin/piawarestatusled/piawarestatusled.py
StandardError=journal

[Install]
WantedBy=multi-user.target
